.part-3 {
    margin: auto;
    margin-top: $standardMargin;
    width: 60%;
    text-align: center;
}
.social-media {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: $standardMargin;
    display: flex;
    align-items: end;
    flex-direction: column;
    .blog {
        margin-right: -175px;
        background-color: #e17b77;
        @include flexStart();
        @include socials();
        .socialsText {
            color: white;
            padding-left: 10px;

        }
        &:hover {
            @include socialsHover();
        }
    }
    .twitter {
        margin-right: -175px;
        background-color: #00aced;
        @include flexStart();        
        @include socials();
        .socialsText {
            color: white;
            padding-left: 10px;

        }
        &:hover {
            @include socialsHover();
        }
    }
    .linkedin {
        margin-right: -175px;
        background-color: #007bb6;
        @include flexStart();
        @include socials();
        .socialsText {
            color: white;
            padding-left: 10px;

        }
        &:hover {
            @include socialsHover();
        }
    }
    .facebook {
        margin-right: -175px;
        background-color: #3b5998;
        @include flexStart();           
        @include socials();
        .socialsText {
            color: white;
            padding-left: 10px;

        }
        &:hover {
            @include socialsHover();
        }
    }
    .github {
        margin-right: -175px;
        background-color: #333;
        @include flexStart();            
        @include socials();
        .socialsText {
            color: white;
            padding-left: 10px;

        }
        &:hover {
            @include socialsHover();
        }
    }
    img {
        @include socialsLogo();
        @include flexCenter(row);

    }

}

@keyframes socialsMove {
    from{ transform: translateX(0px)}
    to{ transform: translateX(-175px)}
}
@keyframes socialsMoveBack {
    from{ transform: translateX(-175px)}
    to{ transform: translateX(0px)}
}