@import "./constants";
@import "./part1";
@import "./part2";
@import "./part3";

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    background-color:  #c3cfe2;
}

@media (max-width: $breakpoint-tablet) {
    body {
        .wrapper {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
          }
    }
}
@media (max-width: $breakpoint-mobile) {
    body {
        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
          }
    }
}

